<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "recent in recentPurchases track by recent.index">
        <td>{{recent.id}}</td>
        <td>{{recent.name}}</td>
        <td>{{recent.price}}</td>
        <td><a class="pointer" ng-click="viewDetails(recent)">View Details</a></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Details modal start -->
<div class="modal fade" id="details-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-style">
            <div class="modal-header">
                <div class="heading">Purchase Details
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Purchase ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Buyer Name</th>
                            <th>Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{purchaseDetails.purchaseId}}</td>
                            <td>{{purchaseDetails.name}}</td>
                            <td>{{purchaseDetails.quantity}}</td>
                            <td>{{purchaseDetails.buyerName}}</td>
                            <td>{{purchaseDetails.price}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
<!--
             <div class="modal-body">
                
            </div> 
-->
<!--
            <div class="modal-footer">
                  <input type="submit" 
                     class="btn buy-btn flat-border bold"
                     value="Ok" 
                     data-dismiss="modal"
                     ng-click="!alertMessage && expired()"/>
            </div>
-->
        </div>
    </div>
</div>
<!-- Details modal end -->